@media (prefers-color-scheme: dark) {
	body {
		background-color: #1e1e2e;
	}

	* {
		color: #cdd6f4;
	}

	textarea,
	button {
		background-color: #45475a;
		border: 2px solid #313244;
	}

	textarea::placeholder {
		color: #a6adc8;
	}

	input[type="checkbox"] {
		background-color: #313244;
	}
}

@media (prefers-color-scheme: light) {
	body {
		background-color: #eff1f5;
	}

	* {
		color: #4c4f69;
	}

	textarea,
	button {
		background-color: #bcc0cc;
		border: 2px solid #ccd0da;
	}

	textarea::placeholder {
		color: #6c6f85;
	}
}

body {
	text-align: center;
}

* {
	padding: 0.5rem;
	font-size: 1.5rem;
}

#app {
	text-align: center;
}

h1 {
	font-size: 3rem;
	margin: 0;
}

p {
	margin: 0.25rem 0;
}

button {
	border-radius: 0.5rem;
}

textarea {
	margin: auto;
	border-radius: 0.5rem;
	resize: both;
	font-size: 1rem;
}
